---
ColumnLimit: 0

IndentWidth: 4
TabWidth: 4
NamespaceIndentation: All

PointerAlignment: Left
ReferenceAlignment: Pointer

SpaceBeforeParens: Always
SpaceBeforeSquareBrackets: true

AccessModifierOffset: -4